body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #ddd;
  margin: 0;
  padding: 0;
  display: flex;
}


body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #ddd;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Style for normal links */
a {
  color: #64a5a6; /* Sky blue */
  text-decoration: none; /* Remove underline */
}

/* Style for visited links */
a:visited {
  color: #9575cd; /* Darker purple */
  text-decoration: none; /* Remove underline */
}

/* Style for hovered links */
a:hover {
  color: #81c784; /* Light green */
  text-decoration: underline; /* Underline on hover */
}

h1 {
  color: #86c5da;
}

p {
  color: #a3cea6;
}

.container {
  text-align: center;
}

.sidebarbutton {
  background-color: #2b2b2b;
  border: none;
  color: #eee;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebarbutton:hover {
  background-color: #3c3c3c;
}

.post, .post_reply {
  background-color: #444;
  color: #ddd;
  display: inline-block;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
  max-width: calc(100vw - 300px);
}

.post_reply {
  background-color: #333;
}

.wrapper {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
  max-width: calc(100vw - 300px);
  color: #ddd;
}

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #444;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.subject {
  color: #4fc3f7;
}

.name {
  color: #f06292;
}

.namewithlink {
  color: #ba68c8;
}

.date {
  color: #81c784;
}

.message {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message-quote {
  color: #4dd0e1;
}

.email {
  color: #9575cd;
}

.replyingsonoinput {
  background-color: #f48fb1;
  color: #666;
  cursor: not-allowed;
}

.omittedreplies {
  margin-top: 5px;
  margin-bottom: 5px;
}

.alert {
  background-color: #ffca28;
  color: #d32f2f;
  border: 2px solid #fbc02d;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
  text-align: left;
  display: inline-block;
  box-shadow: 0 0 10px rgba(211, 47, 47, 0.5);
  animation: shake 0.3s infinite alternate;
}

@keyframes shake {
  from { transform: translateX(-5px); }
  to { transform: translateX(5px); }
}

.dividing-line {
  border: 0;
  height: 2px;
  background-color: #666;
  margin-bottom: 5px;
  margin-top: 5px;
}

.embedded-files, .embedded-nothing {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-top: -10px;
}

.embedded-file {
  flex: 0 0 auto;
  margin-right: 10px;
  margin-bottom: 0px;
}

.embedded-nothing {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-top: 10px
}

.embedded-info {
  word-wrap: break-word;
  max-width: 250px;
}

.embedded-image {
  max-width: 250px;
  max-height: 250px;
  margin-top: -5px;
  cursor: pointer;
}

.embedded-image.expanded {
  max-width: 100%;
  max-height: 100%;
}

.post.deletion-mode:hover::after, .post_reply.deletion-mode:hover::after, .embedded-file.deletion-mode:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  border: 2px solid #d32f2f;
  box-sizing: border-box;
  pointer-events: none;
}

.post.deletion-mode:hover, .post_reply.deletion-mode:hover, .embedded-file.deletion-mode:hover {
  position: relative;
}

.post.deletion-mode *, .post_reply.deletion-mode *, .embedded-file.deletion-mode * {
  pointer-events: none;
}

.watched-board {
  margin-left: 5px;
}

.delete-link {
  display: inline;
  margin-right: 5px;
  border: none;
  background: none;
  cursor: pointer;
  padding: none;
  color: #d32f2f;
  font-weight: bold;
}

.clientid {
  word-wrap: break-word;
  color: #64b5f6;
}

.file-icon, .file-not-found-icon {
  font-size: 50px;
}

.green {
  color: #81c784;
}

.red {
  color: #e57373;
}
