body {
  font-family: Arial, sans-serif;
  background-color: #f0b3b3; /* Slightly darker pastel pink background */
  margin: 0;
  padding: 0;
  display: flex;
}

.container {
  text-align: center; /* Center align content */
}

h1 {
  color: #2b4868; /* Darker blue */
}

p {
  color: #667051; /* Darker pastel green */
}

.sidebarbutton {
  background-color: #ff827a; /* Slightly darker pastel pink */
  border: none;
  color: #333;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebarbutton:hover {
  background-color: #ff5f55; /* Darker pastel pink on hover */
}

.post {
  background-color: #b3b3ff; /* Slightly darker pastel blue */
  display: inline-block; /* Set display to inline-block */
  padding: 10px; /* Add padding for spacing */
  margin-bottom: 5px; /* Add margin between posts */
  margin-top: 5px; /* Add margin between posts */
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2); /* Add clean offset drop shadow */
  max-width: calc(100vw - 300px);  Limit to viewport width */
}

.post_reply {
  background-color: #ff9999; /* Less garish red */
  display: inline-block; /* Set display to block to make replies appear on new lines */
  padding: 10px; /* Add padding for spacing */
  margin-bottom: 5px; /* Add margin between posts */
  margin-top: 5px; /* Add margin between posts */
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2); /* Add clean offset drop shadow */
  max-width: calc(100vw - 300px); /* Limit to viewport width */
}

.wrapper {
  display: flex;
  flex: 1;
}

.content {
  flex: 1; /* Take up remaining space */
  padding: 20px; /* Add padding for spacing */
  max-width: calc(100vw - 300px); /* Adjust 300px according to the width of your sidebar */
}

.sidebar {
  width: 200px; /* Set width of the sidebar */
  padding: 20px; /* Add padding for spacing */
  background-color: #9985b9; /* Slightly darker pastel purple for sidebar */
  position: fixed; /* Position the sidebar relative to the viewport */
  top: 0; /* Align the top of the sidebar with the top of the viewport */
  right: 0; /* Align the left edge of the sidebar with the left edge of the viewport */
  bottom: 0; /* Make the sidebar extend to the bottom of the viewport */
}


.subject {
  color: #0a224e; /* Saturated blue for subject */
}

.name {
  color: #c5392d; /* Saturated red for name */
}

.namewithlink {
  color: #8a2bc2; /* Darker shade of purple */
}

.date {
  color: #396432; /* Saturated green for date */
}

.message {
  color: #191970; /* Dark indigo for message */
  white-space: pre-wrap;
  word-wrap: break-word; /* Wrap long words to the next line */
}

.message-quote {
  color: blue; /* Greentext for lines starting with '>' */
}

.email {
  color: #6a4585; /* Saturated purple for email */
}

.replyingsonoinput {
  background-color: #FFC0CB; /* Fruity background color */
  color: #999; /* Lower contrast text color */
  cursor: not-allowed; /* Cursor style to indicate non-interactive */
}

.omittedreplies {
  /*background-color: #d5392d;*/
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.alert {
  background-color: #ffcc00; /* Fruity yellow background */
  color: #7a2315; /* Dark red text color */
  border: 2px solid #ff3300; /* Bright orange border */
  margin-top: 20px;
  border-radius: 10px; /* Rounded corners */
  padding: 10px; /* Padding around the text */
  font-size: 1.2em; /* Larger font size */
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Fun and casual font */
  text-align: left; /* Left align text */     
  display: inline-block; /* Only as wide as the text */
  box-shadow: 0 0 10px rgba(122, 35, 21, 0.5); /* Shadow effect */
  animation: shake 0.3s infinite alternate; /* Faster shake animation */
}

@keyframes shake {
  from { transform: translateX(-5px); }
  to { transform: translateX(5px); }
}


.dividing-line {
  border: 0; /* Remove default border */
  height: 2px; /* Set height of the line */
  background-color: #b65ecf; /* Cool pinky purple color */
  margin-bottom: 5px; /* Add margin between posts */
  margin-top: 5px;
}

.embedded-files {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-top: -10px
}

.embedded-file {
  flex: 0 0 auto;
  margin-right: 10px;
  margin-bottom: 0px;
}

.embedded-nothing {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-top: 10px
}


.embedded-info {
  word-wrap: break-word; /* Allows long words to break and wrap onto the next line */
  max-width: 250px; /* Match the max-width of the image */
}

.embedded-image {
  max-width: 250px;
  max-height: 250px;
  margin-top: -5px;
  cursor: pointer; /* Change cursor to pointer on hover */
}

.embedded-image.expanded {
  max-width: 100%;
  max-height: 100%;
}

.post.deletion-mode:hover::after {
  content: ""; /* Create a pseudo-element */
  position: absolute; /* Position the overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5); /* Red overlay */
  border: 2px solid red; /* Solid red border */
  box-sizing: border-box;
  pointer-events: none; /* This ensures that the overlay does not block mouse events */
}

.post.deletion-mode:hover {
  position: relative; /* Ensure proper positioning */
}

.post.deletion-mode * {
  pointer-events: none; /* Disable click actions on all sub-elements */
}

.post_reply.deletion-mode:hover::after {
  content: ""; /* Create a pseudo-element */
  position: absolute; /* Position the overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5); /* Red overlay */
  border: 2px solid red; /* Solid red border */
  box-sizing: border-box;
  pointer-events: none; /* This ensures that the overlay does not block mouse events */
}

.post_reply.deletion-mode:hover {
  position: relative; /* Ensure proper positioning */
}

.post_reply.deletion-mode * {
  pointer-events: none; /* Disable click actions on all sub-elements */
}


.embedded-file.deletion-mode:hover::after {
  content: ""; /* Create a pseudo-element */
  position: absolute; /* Position the overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5); /* Red overlay */
  border: 2px solid red; /* Solid red border */
  box-sizing: border-box;
  pointer-events: none; /* This ensures that the overlay does not block mouse events */
}

.embedded-file.deletion-mode:hover {
  position: relative; /* Ensure proper positioning */
}

.embedded-file.deletion-mode * {
  pointer-events: none; /* Disable click actions on all sub-elements */
}

.watched-board {
  margin-left: 5px; /* Add margin between link and button */
}

.delete-link {
  display: inline;
  margin-right: 5px;
  border: none;
  background: none;
  cursor: pointer;
  padding: none;
  color: #8B0000; /* Ruddy, deep red color */
  font-weight: bold; /* Emphasize the button */
}

.clientid {
  word-wrap: break-word;
  color: #003bdf;
}


.file-icon {
  font-size: 50px; /* Adjust the size as needed */
}

.file-not-found-icon {
  font-size: 50px; /* Adjust the size as needed */
}

.green {
    color: green;
}

.red {
    color: red;
}